<% provide(:title, 'Create Lesson') %>
    <h1 class="title-new">Create new Lesson</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@lesson, url: lesson_create_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      		<%= f.label :name %>
	 <%= f.text_field :name, class: "form-control" %>

   	 	<%= f.submit "Create Lesson", class: "btn btn-primary" %>
   	 	<% end %>
   	 </div>
   	</div>