<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Voca", root_path, id: "logo" %>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-md-8" style="margin-top: 10px">
      <%= form_tag search_path, method: :get,
        class: "navbar-form search-form", id: "livesearch_form" do %>
        <div class="form-group dropdown">
          <%= text_field_tag :search, params[:search],class: "form-control dropdown-toggle",placeholder: "Search..."%>
          <i style="margin-right: : 32px;" class="fa fa-search"></i>
          <ul class="dropdown-menu">
            <div id="livesearch_dom"></div>
          </ul>
        </div>
        
      <% end %>
    </div><!-- /.navbar-collapse -->



    <nav>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 13px;">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
        <li><%= link_to "#{@current_user.name}", users_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


